select {
  background-image: url('../../images/drop-down-arrow.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 5px center;
}

textarea {
  height: 100px;
}

label {
  color:var(--secondary);
}

.Form {
  max-width: 300px;
  margin: 0px auto;
  padding-bottom: 20px
}

.LeftBlock {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.LeftBlock > div {
    flex-grow: 1;
}

.LeftBlock > div:nth-child(1) {
  margin-right: 5px;
}

.LeftBlock > div:nth-child(2) {
  margin-left: 5px;
}

@media (max-width: 340px)  {
  .LeftBlock {
    flex-direction: column;
  }
  .LeftBlock > div:nth-child(1) {
    margin-right: 0px;
  }
  .LeftBlock > div:nth-child(2) {
    margin-left: 0px;
  }
}
