.Card {
  --space: 1rem;
  overflow: hidden;
}

.Card > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

.Card > * > * {
  margin: calc(var(--space) / 2);
}

.cardWrap {
  max-width: 300px;
  overflow: hidden;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid black
}
  
