@import '../../../styleconfig/colors.css';

.Sidedraw {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--purple);
  overflow-x: hidden;
  transition: 0.5s;
}

.open {
  width:25%;
}

.close {
  width: 0;
}